.second-box-fourth-row {
  position: absolute;
  left: 90px;
  top: 235px;
}

.seventh-box-fourth-row {
  position: absolute;
  right: 320px;
  top: 235px;
}

.eighth-box-fifth-row {
  position: absolute;
  right: 255px;
  top: 300px;
}
